body {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 100vh;
    margin: 1% auto;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h1,
h2,
h3 {
    font-weight: 300;
}

/*
*
* HEADER
*
*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-left {
    align-self: center;
}

.header-left img {
    width: 100px;
    height: auto;
}

.header-right {
    align-self: center;
    text-align: right;
}

.header-right h1 {
    margin-bottom: 5px;
}

.header-right p {
    margin-top: 0;
}

.center-img {
    background: 
        url(../img/header.jpg)
        top center
        no-repeat 
        fixed;
    width: 100%;
    height: 40%;
}

/*
*
* PROJECTS CONTAINER
*
*/

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.projects-container-title {
    width: 100%;
    font-weight: 400;
}

.project {
    width: 30%;
    text-align: center;
}

.project img {
    width: 100%;
}

.project h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.project a {
    box-sizing: border-box;
    display: inline-block;
    width: 47%;
    padding: 0.5em 1.5em;
    border: 1px solid #02b3e4;
    text-decoration: none;
    background-color: #02b3e4;
    color: #fff;
    transition: background-color 0.3s;
}

.project a:first-of-type {
    margin-right: 4%;
}

.project a:hover {
    background-color: transparent;
    color: #000;
}

/*
*
* FOOTER
*
*/

.hr-bottom {
    width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

footer p {
    padding: 0;
}

.social-media a{
    color: #02b3e4;
    margin: 0 10px;
    font-size: 2em;
}